<h1>Bookings</h1>
<%= link_to 'My Events', user_path(@user)   %>
<br><br>
<%= form_with model: @booking do |form| %>
  <h3>Created By: <%= @event.creator.name %></h2>
  <br>
  <%= form.label "Event name: #{@event.name }" %>
  <br>
  <br>
  <%= form.label "Event Description: #{@event.description }" %>
  <br>
  <br>
  <%= form.label "Event Date: #{@event.date }" %>
  <br>
  <br>
  <%= form.label "Event Location: #{@event.location }" %>
  <br>
  <br>
  <%= form.hidden_field :attended_event_id, value: @event.id %>
  <%= form.hidden_field :attendee_id, value: current_user.id %>
  <%= form.submit %>
<% end %>

