<h1>Created Events</h1>
<%= link_to 'All Events', events_path   %>
<br><br>
<%= link_to 'Create Event', new_event_path %>
<br><br>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<br>
<% @events.each do |event|%>
  <ul>
    <li><%= link_to event.name , event_path(event) %></li>
  </ul>
<% end %>

<br>
<h1>Attending Events</h1>

<h2>Past Events</h2>
<ul>
  <% Event.past.each do |event|%>
    <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>
<h2>Upcoming Events</h2>
<ul>
  <% Event.upcoming.each do |event|%>
    <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>
