<h1>Created Events</h1>
<%= link_to 'All Events', events_path   %>
<br><br>
<%= link_to 'Create Event', new_event_path %>
<br><br>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<br>
<% @events.each do |event|%>
  <div>
    <h3><%= event.name %></h3>
    <p><%= event.description %></p>
    <h3>Event Date: <%= event.date %></h3>
    <h3>Event Location: <%= event.location %></h3>
  </div>
<% end %>

<br>
<h1>Attending Events</h1>

<h2>Past Events</h2>
<ul>
  <% Event.where("date < ?", Date.today).each do |event|%>
    <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>
<h2>Upcoming Events</h2>
<ul>
  <% Event.where("date > ?", Date.today).or(Event.where(date: nil)).each do |event|%>
    <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>
