<h1>Events</h1>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% if @events.any? %>
  <% @events.each do |event|%>
    <ul>
      <li>
        <h2>Event Name: <%= event.name %></h2>
        <p>Date: <%= event.date || "TBD" %></p>
        <p>Location: <%= event.location %></p>
        <% if event.description %>
          <h3>Description</h3>
          <p><%= event.description %></p>
        <% end %>
      </li>
    </ul>
  <% end %>
<% end %>
