<%= link_to 'All Events', events_path   %>
<br><br>
'<%= link_to 'My Events', user_path(@user)   %>
<br><br>
<h1><%= @event.name %></h1>
<p><%= @event.description %></p>
<h3>Date: <%= @event.date %></h3>
<h3>Location: <%= @event.location %></h3>

<h2>Attending</h2>
<% @event.attendees.each do |user| %>
  <ul>
    <li><%= user.name %></li>
  </ul>
<% end %>
