<%= link_to 'All Events', events_path   %>
<br><br>
<%= link_to 'My Events', user_path(@user)   %>
<br><br>
<% if @event.creator.id == @user.id %>
  <%= link_to 'Edit event', edit_event_path(@event) %>
  <br><br>
  <%= link_to "Delete Event", event_path(@event), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
<% end %>
<br><br>
<% booking = @user.bookings.find_by(attended_event_id: @event.id) %>
<% if booking %>
  <%= link_to "Withdraw from Event", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>
<br><br>
<%= link_to 'Attend Event', new_booking_path(attended_event_id: @event.id, attendee_id: @user.id) %>
<br><br>
<h1><%= @event.name %></h1>
<p><%= @event.description %></p>
<h3>Date: <%= @event.date %></h3>
<h3>Location: <%= @event.location %></h3>

<h2>Attending</h2>
<% @event.attendees.each do |user| %>
  <ul>
    <li><%= user.name %></li>
  </ul>
<% end %>
